<section class="block block-hero-2"
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a href = "https://play.google.com/store/apps/details?id=com.IIITD.ALT"> <img src = "uploads/2021/10/10/en_get-cropped.svg" height = "50px" width = "150px" ></a>
        <a href = "https://testflight.apple.com/join/j232DKdv"> <img src = "uploads/2021/10/10/download_on_the_app_store_badge_us-uk_rgb_wht_092917.svg" height = "50px" width = "150px"></a>
<!--         <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a> -->
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" loading="lazy">
      </div>
    </div>
  </div>
</section>
